body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f172a;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00ffff;
  border-radius: 10px;
}